* {
	margin: 0;
	padding: 0;
}

@media screen and (max-width: 630px) {
	.content {
		grid-template-columns: 1fr 65% 1fr !important;
	}

	.btn-rate {
		font-size: clamp(1em, 4.5vw, 1.3em) !important;
	}
}

@media screen and (max-width: 480px) {
	.content {
		grid-template-columns: 1fr 80% 1fr !important;
	}

	.btn-rate {
		font-size: clamp(1em, 4.5vw, 1.3em) !important;
	}
}

#root,
.content {
	height: 100vh;
}

.content {
	display: grid;
	gap: 20px;
	grid-template-columns: 1fr 40% 1fr;
	grid-template-rows: 65px 350px 1fr;
	font-family: system-ui;
	background: #1d1d38;

	header {
		grid-row: 1;
		grid-column: 1 / -1;

		background: #131523;
		display: flex;
		align-items: center;

		span {
			color: rgb(218, 72, 157);
			font-size: 1.9rem;
			font-family: system-ui;
			font-weight: 500;
			text-shadow: 1.2px 1.2px 0px rgb(148, 31, 99);
			margin-inline: auto;
		}
	}

	.feedback-editor {
		grid-row: 2 / 3;
		grid-column: 2 / 3;

		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-around;
		border-radius: 15px;
		border: 1px solid #000;
		padding: 1em;
		background: white;
		text-align: center;

		h2 {
			font-size: clamp(1em, 1.6vw, 1.9em);
		}

		.rate {
			display: flex;
			width: 100%;
			flex-wrap: wrap;
			justify-content: center;
			gap: clamp(0.5em, 1.4vw, 1.8em);

			.btn-rate {
				background: rgba(233, 233, 233, 0.781);
				height: 2.5em;
				width: 2.5em;
				font-size: clamp(0.3em, 3vw, 1.3em);
				border-radius: 50%;
				outline: none;
			border: none;
		}
	}

		.input-wrapper {
			display: flex;
			justify-content: space-between;
			align-items: center;
			border: 2px solid rgb(224, 224, 224);
			border-radius: 3px;
			padding: 15px 3px;
			height: 2em;
			width: 90%;
			// flex-wrap: 1;

			input {
				border: none;
				outline: none;
				background: none;
				padding-left: 5px;
				vertical-align: middle;
				width: 60%;
				font-size: clamp(1em, 3vw, 1.5em);
			}

			button[type="submit"] {
				border: none;
				outline: none;
				background: rgb(207, 207, 207);
				padding: 0.5em 1.2em;
				border-radius: 10px;
				font-size: clamp(1em, 1.9vw, 1.3em);
				cursor: pointer;
				transition: 0.2s all;
			}
			button[type="submit"]:hover {
				background: rgb(190, 189, 189);
			}
		}
	}
}
