* {
	margin: 0;
	padding: 0;
}

.btn {
	background: rgb(231, 231, 231);
	font-size: clamp(0.3em, 3vw, 1.3em);
	border-radius: .4em;
	outline: none;
	border: none;
	padding: .5em;
	transition: all .2s;
	// transition: top 2s;
	cursor: pointer;
	position: relative;
}

.btn:hover {
	filter: brightness(.9);
}

.btn:active {
	top: .05em;
}

.btn-disabled {
	background: #666 !important;
	color: rgb(238, 238, 238) !important;
}

.btn-disabled:hover {
	filter: none;
	cursor: default;
}

@media screen and (max-width: 1100px) {
	.content {
		grid-template-columns: 1fr 80% 1fr !important;
	}
}

@media screen and (max-width: 630px) {
	.content {
		grid-template-columns: 1fr 65% 1fr !important;
	}

	.btn-rate {
		font-size: clamp(1em, 4.5vw, 1.3em) !important;
	}

	.message-wrapper {
		position: initial !important;
	}
}

@media screen and (max-width: 480px) {
	.content {
		grid-template-columns: 1fr 80% 1fr !important;
	}

	.btn-rate {
		font-size: clamp(1em, 4.5vw, 1.3em) !important;
	}
}

::-webkit-scrollbar {
	background: #1d1d38;
	width: 6px;
}

::-webkit-scrollbar-thumb {
	background: rgb(104, 104, 104);
	border-radius: 10px;
}


body {
	background-color: #1d1d38;

	h2.no_feedback {
		font-weight: bold;
		font-size: 2em;
		text-align: center;
		color:#ff6bc4;
		margin-top: 30px;
	}
}

.content {
	display: grid;
	gap: 20px;
	grid-template-columns: 1fr 1000px 1fr;
	grid-template-rows: 65px 350px 1fr;
	font-family: system-ui;
	background: #1d1d38;
	height: 100%;

	header {
		grid-row: 1;
		grid-column: 1 / -1;

		background: #131523;
		display: flex;
		align-items: center;

		span {
			color: rgb(218, 72, 157);
			font-size: 1.9rem;
			font-family: system-ui;
			font-weight: 500;
			text-shadow: 1.2px 1.2px 0px rgb(148, 31, 99);
			margin-inline: auto;
		}
	}

	.feedback-form {
		grid-row: 2 / 3;
		grid-column: 2 / 3;

		position: relative;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-around;
		border-radius: 15px;
		border: 1px solid #000;
		padding: 1em;
		background: white;
		text-align: center;

		h2 {
			font-size: clamp(1.2em, 3vw, 2.3em);
		}

		.rate {
			display: flex;
			width: 100%;
			flex-wrap: wrap;
			justify-content: center;
			gap: clamp(0.5em, 1.9vw, 1.8em);

			.btn-rate {
				background: rgba(233, 233, 233, 0.781);
				height: 2.5em;
				width: 2.5em;
				font-size: clamp(1em, 2.2vw, 1.5em);
				border-radius: 50%;
			}

			.selected {
				background: rgb(255, 99, 190);
				color: white;
			}
	}

		.input-wrapper {
			display: flex;
			justify-content: space-between;
			align-items: center;
			border: 2px solid rgb(224, 224, 224);
			border-radius: 3px;
			padding: 0.9em 0.6em;
			height: 2em;
			width: 90%;

			input {
				border: none;
				outline: none;
				background: none;
				padding-left: 5px;
				vertical-align: middle;
				width: 60%;
				font-size: clamp(1em, 3vw, 1.5em);
			}

			.btn-submit {
				background: rgb(13, 14, 88);
				color: white;
				padding: 0.5em 1.2em;
				font-size: clamp(1em, 1.9vw, 1.3em);
			}
		}

		.message-wrapper {
			position: absolute;
			bottom: 12px;
			left: 6%;
			color: #d51a1a;
			width: 90%;
			font-size: 1.1em;
			font-weight: 200;
			text-align: start;
		}

	}

	.feedback-list-wrapper {
		grid-row: 3 / 4;
		grid-column: 2 / 3;

		.stats {
			display: flex;
			justify-content: space-between;
			align-items: center;
			font-size: 1.25em;
			font-weight: 500;
			color: white;
		}

		.feedback-item {
			color: black;
			background: white;
			margin: 20px 0;
			padding: 40px;
			border-radius: 15px;
			position: relative;
			font-weight: 500;
			font-size: 1.2em;

			.feedback-item-rating {
				position: absolute;
				top: -15px;
				left: -15px;
				height: 50px;
				width: 50px;
				background: #ff6b97;
				color:white;
				border: 1px solid #000;
				border-radius: 50%;
				text-align: center;
				vertical-align: middle;
				line-height: 50px;
				font-size: 1.2em;
				font-weight: 400;
			}

			.close {
				position: absolute;
				right: 1.2em;
				top: 1.2em;
				outline: none;
				border: none;
				background: white;
				cursor: pointer;

				svg {
					height: 1.4em;
					width: 1.4em;
				}
			}

			.review-text {
				font-size: clamp(0.8em, 1.4vw, 1.2em);
			}
		}
	}
}
